/* form h1 {
    text-transform: uppercase;
    color: #332727;
}
*/

form {
    background: linear-gradient(to right, #4027ce, #4f4a6e);
    margin: auto;
    margin-top: 50px;
    display: ;
    flex-direction: column;
    width: 70%;
    align-items: baseline;
    border: 1px solid #efefef;
    padding: 20px;
    float: inline;
    align-item: ;
    border-color: ;
    flex-grow: ;
}


/* .input {
    display: block;
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid #d0c9f3;
    border-radius: 1px;
    font-family: VT323, monospace;
} 

.gender {
    width: 306px;
    height: 35px;
}

.checkbox {
    border: 0px;
    font-size: 13px;
    font-family: sans-serif;
}

form button {
    border: 1px solid #d0c9f3;
    border-radius: 1px;
    width: 90px;
    height: 30px;
    background: linear-gradient(to right, #a599eb, #fff);
    font-size: 16px;
    text-transform: uppercase;
    color: #272121;
    text-decoration-line: underline;
} */